---

---

<div id="result-Mixed" class="result-info hidden w-full">
  <!-- Principios del tratamiento -->
  <div class="mt-8">
    <h3 class="text-3xl font-bold text-pink-abbott mb-4 uppercase">
      PRINCIPIOS DEL TRATAMIENTO:
    </h3>
    <ul class="list-disc pl-6 space-y-3 text-lg text-gray-700">
      <li>Según los microorganismos y la patogénesis.</li>
      <li>
        Elegir tratamientos estándar para minimizar el abuso de medicamentos
        antibacterianos innecesarios.
      </li>
      <li>
        Tratar primero la infección de transmisión sexual (ITS) cuando exista la
        presencia simultánea de una ITS y brindar tratamiento a las parejas
        sexuales.
      </li>
      <li>
        Elegir el tratamiento que ofrezca un rápido alivio de los síntomas.
      </li>
    </ul>
  </div>
</div>
