---
import { URL_BASE } from "@/config";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import WomanMenu from "@/components/WomanMenu.astro";
---

<Layout>
  <div
    class="flex flex-col min-h-screen w-9xl max-w-full mx-auto overflow-clip bg-position-[75%] md:bg-right"
    style={`
      background-image: url('${URL_BASE}/img/bgmain.webp');
      background-size: cover;
    `}
  >
    <Header with="tuciclo" />
    <main class="flex-1 p-4 grid grid-cols-1 md:grid-cols-3 gap-10">
      <WomanMenu
        titulo="SALUD REPRODUCTIVA"
        subtitulo="Consejería en la elección de un método anticonceptivo"
        womanImg="salud_reproductiva_1"
        href="/salud-reproductiva"
      />
      
    </main>
    <Footer />
  </div>
</Layout>
