---
interface Props {
  idbtn: string;
  label: string;
}

const { idbtn, label }: Props = Astro.props;
---

<button
  id={idbtn}
  class="menu-btn cursor-pointer bg-white/90 text-purple-abbott rounded-full py-4 px-8 text-left text-xl md:text-2xl uppercase shadow-md hover:text-white hover:font-bold hover:scale-[1.02] hover:bg-purple-abbott transition-all w-full"
>
  {label}
</button>
  