<a
  href="https://co.medicinespro.abbott/wp-content/uploads/2025/02/portafolio-2026.pdf"
  target="_blank"
  rel="noopener noreferrer"
  class="inline-block py-2 px-6 rounded-full text-white bg-purple-abbott font-semibold"
>
  Conozca el portafolio Abbott para elegir la mejor opción
</a>
