<footer class="p-4 flex justify-between">
  <p class="text-xs">MATERIAL EXCLUSIVO PARA EL CUERPO MÉDICO</p>
  <span
    class="text-xs font-bold -rotate-90 -translate-y-40 translate-x-7 md:translate-x-5"
    >COL2375233</span
  >
</footer>
