---
import { URL_BASE } from "@/config";
import TucicloSVG from "@/assets/TucicloSVG.astro";

// recibe la prop "with" para cambiar el contenido del header
interface Props {
  with?: string;
}
const { with: withProp } = Astro.props;
---

<header class="p-4 flex items-center justify-between">
  <a href={URL_BASE + "/"} class="block">
    <img
      src={URL_BASE + "/img/logos/abbott_black.webp"}
      alt="Abbott Logo"
      class="w-32 h-auto"
    />
  </a>
  {withProp === "tuciclo" ? <TucicloSVG /> : null}
</header>
