---
import { URL_BASE } from "@/config";
---

<div id="info-etapas-conceptos" class="info-content hidden">
  <h2 class="text-2xl font-bold mb-4 text-purple-abbott">
    ETAPAS DE LA MENOPAUSIA / CONCEPTOS CLAVE
  </h2>

  <!-- Desktop / Tablet: table -->
  <div
    class="overflow-x-auto mt-4 border border-purple-abbott rounded-lg"
  >
    <table class="w-full border-collapse text-sm rounded-lg bg-white">
      <thead>
        <tr>
          <th
            class="bg-purple-abbott border-r text-white px-6 py-3 text-left font-bold"
            >ETAPA</th
          >
          <th
            class="bg-purple-abbott border-r text-white px-6 py-3 text-left font-bold"
            >DEFINICIÓN Y CARACTERÍSTICAS</th
          >
          <th class="bg-purple-abbott text-white px-6 py-3 text-left font-bold"
            >CONCEPTOS CLAVE</th
          >
        </tr>
      </thead>
      <tbody>
        <tr>
          <td
            class="px-6 py-4 border-r border-b border-purple-abbott font-extrabold text-purple-abbott w-1/5"
            >PERIMENOPAUSIA</td
          >
          <td class="px-6 py-4 border-r border-b border-purple-abbott"
            >Fase de transición que comienza con la disminución de la función
            ovárica y la caída de estrógeno.</td
          >
          <td class="px-6 py-4 border-b border-purple-abbott"
            >Dura de 2 a 4 años y finaliza 1 año después del último periodo
            menstrual. Se considera presente cuando hay irregularidad menstrual
            y/o síntomas vasomotores (VMS), incluso en mujeres de 40 a 45 años.</td
          >
        </tr>
        <tr>
          <td
            class="px-6 py-4 font-extrabold border-r border-b border-purple-abbott text-purple-abbott"
            >MENOPAUSIA NATURAL</td
          >
          <td class="px-6 py-4 border-r border-b border-purple-abbott"
            >Ausencia de menstruación por más de 1 año.</td
          >
          <td class="px-6 py-4 border-b"
            >Puede producirse repentinamente, con el cese abrupto de la
            menstruación, o puede ser un fenómeno gradual. Se asocia con un
            aumento de la hormona foliculoestimulante (FSH).</td
          >
        </tr>
        <tr>
          <td
            class="px-6 py-4 font-extrabold border-r border-purple-abbott text-purple-abbott"
            >POSMENOPAUSIA</td
          >
          <td class="px-6 py-4 border-r border-purple-abbott"
            >Se define como el periodo a partir de 1 año después del último
            periodo menstrual.</td
          >
          <td class="px-6 py-4 border-purple-abbott"
            >Se divide en postmenopausia temprana (primeros 5 años) y tardía.</td
          >
        </tr>
      </tbody>
    </table>
  </div>

  <!-- espacio para nueva tabla -->
  <div
    class="overflow-x-auto mt-4 border border-purple-abbott rounded-lg"
  >
    <table class="w-full border-collapse text-xs text-center rounded-lg">
      <thead>
        <tr class="bg-purple-abbott text-white">
          <th class="p-2 border border-white/20 font-bold">ETAPAS</th>
          <th class="p-2 border border-white/20 font-bold">-5</th>
          <th class="p-2 border border-white/20 font-bold">-4</th>
          <th class="p-2 border border-white/20 font-bold">-3</th>
          <th class="p-2 border border-white/20 font-bold">-2</th>
          <th class="p-2 border border-white/20 font-bold">-1</th>
          <th class="p-2 border border-white/20 font-bold">+1</th>
          <th class="p-2 border border-white/20 font-bold" colspan="2">+2</th>
        </tr>
      </thead>
      <tbody>
        <!-- TERMINOLOGÍA -->
        <tr class="text-white">
          <th
            class="p-2 border border-white/20 bg-purple-abbott/80 font-bold"
            rowspan="2">TERMINOLOGÍA</th
          >
          <td
            class="p-2 border border-white/20 bg-purple-abbott/60 font-bold"
            colspan="3">REPRODUCTIVA</td
          >
          <td
            class="p-2 border border-white/20 bg-purple-abbott/60 font-bold"
            colspan="2">TRANSICIÓN A LA MENOPAUSIA</td
          >
          <td
            class="p-2 border border-white/20 bg-purple-abbott/60 font-bold"
            colspan="3">POSMENOPAUSIA</td
          >
        </tr>
        <tr class="text-white">
          <td
            class="p-2 border border-white/20 bg-purple-abbott/40 font-semibold"
            >TEMPRANA</td
          >
          <td
            class="p-2 border border-white/20 bg-purple-abbott/40 font-semibold"
            >PICO</td
          >
          <td
            class="p-2 border border-white/20 bg-purple-abbott/40 font-semibold"
            >TARDÍA</td
          >
          <td
            class="p-2 border border-white/20 bg-purple-abbott/40 font-semibold"
            >TEMPRANA</td
          >
          <td
            class="p-2 border border-white/20 bg-purple-abbott/40 font-semibold"
            >TARDÍA</td
          >
          <td
            class="p-2 border border-white/20 bg-purple-abbott/40 font-semibold"
            >TEMPRANA</td
          >
          <td
            class="p-2 border border-white/20 bg-purple-abbott/40 font-semibold"
            colspan="2">TARDÍA</td
          >
        </tr>

        <!-- CICLOS MENSTRUALES -->
        <tr>
          <th
            class="p-2 border border-purple-abbott text-purple-abbott bg-purple-100 font-bold"
            rowspan="2">CICLOS<br />MENSTRUALES</th
          >
          <td class="p-2 border border-purple-abbott bg-white" rowspan="2"
            >Variable a regular</td
          >
          <td class="p-2 border border-purple-abbott bg-white" rowspan="2"
            >Regular</td
          >
          <td class="p-2 border border-purple-abbott bg-white" rowspan="2"
            >Regular</td
          >
          <td
            class="p-2 border border-purple-abbott bg-gray-50 font-semibold"
            colspan="3">Perimenopausia</td
          >
          <td
            class="p-2 border border-purple-abbott bg-white"
            colspan="2"
            rowspan="2">Ausentes</td
          >
        </tr>
        <tr>
          <td class="p-2 border border-purple-abbott bg-white text-[10px]"
            >Duración variable del ciclo (>7 días diferente de lo normal)</td
          >
          <td class="p-2 border border-purple-abbott bg-white text-[10px]"
            >Dos o más ciclos ausentes y 60 o más días de amenorrea</td
          >
          <td class="p-2 border border-purple-abbott bg-white">†</td>
        </tr>

        <!-- NIVEL ENDOCRINO -->
        <tr>
          <th
            class="p-2 border border-purple-abbott text-purple-abbott bg-purple-100 font-bold"
            >NIVEL<br />ENDOCRINO</th
          >
          <td class="p-2 border border-purple-abbott bg-white">FSH normal</td
          >
          <td class="p-2 border border-purple-abbott bg-white">FSH normal</td
          >
          <td class="p-2 border border-purple-abbott bg-white">FSH↑</td>
          <td class="p-2 border border-purple-abbott bg-white">FSH↑</td>
          <td class="p-2 border border-purple-abbott bg-white">FSH↑</td>
          <td class="p-2 border border-purple-abbott bg-white" colspan="3"
            >FSH↑</td
          >
        </tr>

        <!-- DURACIÓN -->
        <tr>
          <th
            class="p-2 border border-purple-abbott text-purple-abbott bg-purple-100 font-bold"
            >DURACIÓN</th
          >
          <td class="p-2 border border-purple-abbott bg-white" colspan="3"
            >Variable</td
          >
          <td class="p-2 border border-purple-abbott bg-white" colspan="2"
            >Variable</td
          >
          <td class="p-2 border border-purple-abbott bg-white"
            >1 año<br /><span class="text-[10px]">a</span></td
          >
          <td class="p-2 border border-purple-abbott bg-white"
            >4 años<br /><span class="text-[10px]">b</span></td
          >
          <td class="p-2 border border-purple-abbott bg-white"
            >Hasta el fallecimiento</td
          >
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-10">
    <div class="flex items-center flex-col md:flex-row gap-4 p-8 bg-purple-abbott text-white rounded-lg">
      <img src={`${URL_BASE}/img/items/THM.webp`} alt="Logo THM" class="h-24" />
      <p class="text-2xl">
        <strong>THM (terapia hormonal para la menopausia):</strong> administrada para tratar los síntomas de la menopausia. Se puede comenzar antes de la menopausia y continuar durante muchos años después de esta.
      </p>
    </div>
    <div class="flex items-center flex-col md:flex-row gap-4 p-8 bg-purple-abbott text-white rounded-lg mt-6">
      <img src={`${URL_BASE}/img/items/TRH.webp`} alt="Logo TRH" class="h-24" />
      <p class="text-2xl">
        <strong>TRH (terapia de reemplazo hormonal):</strong>  administrada a mujeres jóvenes con insuficiencia ovárica prematura o menopausia temprana, para restaurar los niveles de estrógeno a los rangos premenopáusicos y prevenir complicaciones relacionadas con la deficiencia estrogénica. 
      </p>
    </div>
  </div>
</div>
