<div id="info-tipo-pacientes" class="info-content hidden">
  <div>
    <p>
      La indicación depende de la presencia de síntomas, el tiempo transcurrido
      desde la menopausia y la condición uterina.
    </p>
  </div>
  <!-- Table: Tipo de mujer / Indicación de THM / Consideraciones sobre la THM -->
  <div class="overflow-x-auto mt-6 border border-purple-abbott rounded-lg">
    <table class="w-full border-collapse text-sm bg-white rounded-lg">
      <thead>
        <tr>
          <th
            class="bg-purple-abbott text-white px-6 py-3 text-center font-bold min-w-56"
            >TIPO DE MUJER</th
          >
          <th
            class="bg-purple-abbott text-white border-l px-6 py-3 text-center font-bold min-w-48"
            >INDICACIÓN DE THM</th
          >
          <th
            class="bg-purple-abbott text-white border-l px-6 py-3 text-center font-bold min-w-48"
            >CONSIDERACIONES SOBRE LA THM</th
          >
        </tr>
      </thead>
      <tbody>
        <tr>
          <td
            class="px-6 py-6 border-r border-purple-abbott align-top font-bold text-purple-abbott"
            >MUJERES CON SÍNTOMAS VASOMOTORES</td
          >
          <td class="px-6 py-6 border-r border-purple-abbott"
            >Altamente recomendada si se encuentran en la "ventana de
            oportunidad" (&lt;60 años o &lt;10 años desde la menopausia).</td
          >
          <td class="px-6 py-6"
            >La THM es el tratamiento más efectivo para los síntomas
            vasomotores.</td
          >
        </tr>
        <tr>
          <td
            class="px-6 py-6 border-t border-r border-purple-abbott align-top font-bold text-purple-abbott"
            >MUJERES CON ÚTERO INTACTO (SI LA THM ESTÁ INDICADA)</td
          >
          <td class="px-6 py-6 border-t border-r border-purple-abbott"
            >Se recomienda iniciar la THM con una preparación que combine
            estrógeno y progestágeno.</td
          >
          <td class="px-6 py-6 border-t"
            >El progestágeno es esencial para proporcionar protección
            endometrial y reducir el riesgo de hiperplasia o cáncer.</td
          >
        </tr>
        <tr>
          <td
            class="px-6 py-6 border-t border-r border-purple-abbott align-top font-bold text-purple-abbott"
            >MUJERES SIN ÚTERO (DESPUÉS DE HISTERECTOMÍA)</td
          >
          <td class="px-6 py-6 border-t border-r border-purple-abbott"
            >Se recomienda iniciar la THM con una preparación solo de estrógeno.</td
          >
          <td class="px-6 py-6 border-t"
            >No es necesario administrar un progestágeno, a menos que haya
            antecedentes de endometriosis.</td
          >
        </tr>
        <tr>
          <td
            class="px-6 py-6 border-t border-r border-purple-abbott align-top font-bold text-purple-abbott"
            >MUJERES CON SÍNTOMAS GENITOURINARIOS</td
          >
          <td class="px-6 py-6 border-t border-r border-purple-abbott"
            >Se puede considerar THM local o sistémica, dependiendo de otros
            síntomas.</td
          >
          <td class="px-6 py-6 border-t"
            >El estrógeno local suele iniciarse solo, pero puede administrarse
            con THM sistémica si es necesario.</td
          >
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-4">
    <p>
      El tratamiento debe continuar mientras la mujer y su médico consideren que los beneficios superan los riesgos para ella. Los preparados estrógenos vaginales en dosis bajas para mujeres con síntomas genitourinarios pueden continuarse a largo 
    </p>
  </div>

  <div class="mt-4 text-xs">
    <p class="mt-2">
      <strong>Referencias: 1.</strong> Lumsden MA, Dekkers OM, Faubion SS, et al.
      European society of endocrinology clinical practice guideline for evaluation
      and management of menopause and the perimenopause. Eur J Endocrinol. 2025 Sep
      30;193(4):G49-G81.
    </p>
  </div>
</div>
