---
import '../styles/global.css'
import { URL_BASE } from "@/config";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={URL_BASE + "/favicon.png"} />
		<title>RITMICA EL RITMO DE LA ARMONÍA EN CADA CICLO VITAL</title>
	</head>
	<body class="bg-white text-black font-brandon">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
	}
	* {
		box-sizing: border-box;
	}
</style>
